<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 </title>
</head>

<body class="p-2 md:pl-80 md:pr-80">

    <app-navbar/>
    

    <div class="justify-self-center pt-16 bg-gradient-to-b from-[#06573C] via-[#0D2221] to-[#0D2221]">

        <app-header/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">

            <div class="h-[250px] place-content-center mx-auto">
                <img class="h-auto max-w-full rounded-lg bg-gradient-to-b from-[#06573C] via-[#00E990] to-[#06573C]"
                    src="/assets/images/LogoProj.png" alt="">
            </div>

            <div class="text-3xl  content-around p-4 text-[#00E990] font-semibold">
                <h1>Competențele Viitorului: <span class="text-white font-semibold">Actualizare și dezvoltare
                        profesională în era digitală și a economiei verzi</span>
                </h1>
            </div>
        </div>


        <div class=" text-xl text-center m-10  text-gray-300 ">
            <h2>Incepe orice curs fara cost<br> Sau faci un parteneriat cu firma ta</h2>
        </div>



        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

            <div class="  p-2 inline-block justify-self-center bg-gradient-to-tl from-[#270b0e] rounded-lg ">
                <div
                    class="w-[279px] h-[137px] bg-gradient-to-r from-[#47393a] via-[#1a0c0e] to-[#47393a] p-1 grid grid-cols-2  items-center rounded-xl ">
                    <div class="inline-block p-1 mx-3 w-2/3 h-2/3 content-center ">
                        <img src="/assets/images/Montator.png" alt="">
                    </div>

                    <span class="inline-block text-sm font-semibold tracking-tight text-white">
                        Operator - Montator Subansamble
                        <p class="font-serif"><br>CERTIFICAT</p>
                    </span>

                    <span class="inline-block text-sm text-white  content-end">

                    </span>
                </div>
            </div>

            <div class=" p-2 inline-block justify-self-center bg-gradient-to-tl from-[#062206] rounded-lg">
                <div
                    class="w-[279px] h-[137px] bg-gradient-to-r from-[#436444] via-[#062206] to-[#436444] p-1 grid grid-cols-2  items-center rounded-xl">
                    <div class="inline-block p-1 mx-3 w-2/3 h-2/3 justify-items-center content-center">
                        <img src="/assets/images/Security.png" alt="">
                    </div>

                    <span class="inline-block  text-sm font-semibold tracking-tight text-white">
                        Calcule analitice si securitatea informatiilor
                    </span>
                </div>
            </div>

            <div class=" p-2 inline-block justify-self-center bg-gradient-to-tl from-[#08202c] rounded-lg">
                <div
                    class="w-[279px] h-[137px] bg-gradient-to-r from-[#5c879c] via-[#08202c] to-[#5c879c] p-1 grid grid-cols-2  items-center rounded-xl">
                    <div class="inline-block  p-1 mx-3 w-2/3 h-2/3 content-center">
                        <img src="/assets/images/Aluminio.png" alt="">
                    </div>

                    <span class="inline-block text-sm font-semibold tracking-tight text-white">
                        Tehnologii si cerinte de productie si calitate specifice industriei aluminiului
                    </span>
                </div>
            </div>

            <div class=" p-2 inline-block justify-self-center bg-gradient-to-tl from-[#0a1a3a] rounded-lg ">
                <div
                    class="w-[279px] h-[137px] bg-gradient-to-r from-[#453e53] via-[#0a1a3a] to-[#453e53] p-1 grid grid-cols-2  items-center rounded-xl">
                    <div class="inline-block  p-1 mx-3 w-2/3 h-2/3 content-center">
                        <img src="/assets/images/DeseurilorInd.png" alt="">
                    </div>

                    <span class="inline-block text-sm font-semibold tracking-tight text-white">
                        Competente de dezvoltare durabila pentru eficientizarea gestionarii deseurilor industriale
                    </span>
                </div>
            </div>

            <div class=" p-2 inline-block justify-self-center bg-gradient-to-tl from-[#2e1b0a] rounded-lg ">
                <div
                    class="w-[279px] h-[137px] bg-gradient-to-r from-[#f1b476] via-[#2e1b0a] to-[#C3AE9A] p-1 grid grid-cols-2  items-center rounded-xl ">
                    <div class="inline-block  p-1 mx-3 w-2/3 h-2/3 content-center">
                        <img src="/assets/images/Managment.png" alt="">
                    </div>

                    <span class="inline-block text-sm font-semibold tracking-tight text-white">
                        Managementul echipei
                    </span>
                </div>
            </div>

        </div>

        <div class="mx-6 mt-8">
            <div
                class="w-full max-w-sm p-4 bg-transparent border border-yellow-500 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mx-auto mt-6 mb-6">
                <h5 class="mb-4 text-xl font-medium text-white dark:text-gray-400">Condiții de participare</h5>

                <ul role="list" class="space-y-5 my-7">
                    <li class="flex items-center">
                        <svg class="flex-shrink-0 w-4 h-4 text-[#00E990] dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span
                            class="text-base font-normal leading-tight text-white dark:text-gray-400 ms-3">Domiciliu/reședință
                            în Regiunea Nord-Vest (Bihor, Bistrița-Năsăud, Cluj, Maramureș, Satu Mare, Sălaj)</span>
                    </li>
                    <li class="flex">
                        <svg class="flex-shrink-0 w-4 h-4 text-[#00E990] dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span class="text-base font-normal leading-tight text-white dark:text-gray-400 ms-3">Vărsta: 18
                            -
                            65 ani</span>
                    </li>
                    <li class="flex">
                        <svg class="flex-shrink-0 w-4 h-4 text-[#00E990] dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span class="text-base font-normal leading-tight text-white dark:text-gray-400 ms-3">Angajați cu
                            contract individual de muncă</span>
                    </li>

                    <li class="flex">
                        <svg class="flex-shrink-0 w-4 h-4 text-[#00E990] dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span class="text-base font-normal leading-tight text-white dark:text-gray-400 ms-3">Nivel minim
                            de educație: ISCED 3 (12/13 clase)</span>
                    </li>

                    <li class="flex">
                        <svg class="flex-shrink-0 w-4 h-4 text-[#00E990] dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        <span class="text-base font-normal leading-tight text-white dark:text-gray-400 ms-3">Dorința de
                            a participa la activitățile proiectului</span>
                    </li>

                </ul>
                <button type="button"
                    class="text-black bg-[#00E990] hover:bg-[#17CC87] focus:ring-4 focus:outline-none focus:ring-yellow-500 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Înscrie-te
                    aici</button>
            </div>
        </div>


        <blockquote class="text-2xl font-semibold text-center text-white dark:text-white mt-16">
            <p>Beneficiile învățării pe tot parcursul vieții</p>
        </blockquote>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div
                class="w-full max-w-sm p-4 bg-transparent rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mx-auto mt-6 mb-6">
                <p
                    class=" mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-[#00E990] dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                    Flexibilitate</p>
                <p class=" text-white dark:text-gray-400">Într-o lume agitată, poți învăța oricând și oriunde, adaptând
                    procesul la programul tău zilnic.</p>
                <img class="mt-4 mx-auto" src="/assets/images/Flexibility.png" alt="">
            </div>

            <div
                class="w-full max-w-sm p-4 bg-transparent rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mx-auto mt-6 mb-6">
                <p
                    class=" mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-[#00E990] dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                    Creșterea Veniturilor</p>
                <p class=" text-white dark:text-gray-400">Dezvoltarea continuă a competențelor poate duce la creșterea
                    salariului, îmbunătățirea condițiilor de muncă și implicit a celor de viață.</p>
                <img class="mt-4 mx-auto" src="/assets/images/Venituri.png" alt="">
            </div>

            <div
                class="w-full max-w-sm p-4 bg-transparent rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mx-auto mt-6 mb-6">
                <p
                    class=" mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-[#00E990] dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                    Împlinirea Personală</p>
                <p class=" text-white dark:text-gray-400">Învățarea continuă contribuie la creșterea nivelului de
                    satisfacție personală și profesională, oferindu-ți posibilitatea de a-ți îndeplini obiectivele pe
                    termen lung.</p>
                <img class="mt-4 mx-auto" src="/assets/images/Implinir.png" alt="">
            </div>

            <div
                class="w-full max-w-sm p-4 bg-transparent rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mx-auto mt-6 mb-6">
                <p
                    class=" mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-[#00E990] dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                    Impact asupra Comunității</p>
                <p class=" text-white dark:text-gray-400">Prin extinderea cunoștințelor și a abilităților, devii un
                    membru mai valoros al comunității tale și contribui la dezvoltarea socială și economică.</p>
                <img class="mt-4 mx-auto" src="/assets/images/impact.png" alt="">
            </div>
        </div>


<h1 class="text-white text-3xl p-4 text-center font-semibold">Noutăți</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center pt-8 pb-8">
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/assets/images/312670.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Promovarea
                            învățării pe tot parcursul vieții, facilitarea tranzițiilor profesionale și
                            promovarea mobilității profesionale
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Comunicat de presă</p>
                    <a href="#"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#06573C] rounded-lg hover:bg-[#0D2221] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Afla mai multe
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/assets/images/PostFacebook2316270.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">120 de membri sunt deja în grupul de socializare online
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">120 de membri sunt deja în grupul de socializare online </p>
                    <a href="#"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#06573C] rounded-lg hover:bg-[#0D2221] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Afla mai multe
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <app-footer/>
    </div>
</body>
</html>