<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 </title>
</head>


<body class="p-2 md:pl-80 md:pr-80">

    <app-navbar />

    <div class="justify-self-center pt-16 bg-gradient-to-b from-[#06573C] via-[#0D2221] to-[#0D2221]">

        <app-header />




        <div class="grid grid-cols-1 md:grid-cols-1 gap-4 ">

            <div class="text-3xl  content-around p-4 text-[#00E990] font-semibold">
                <h1><span class="text-white font-semibold"> Titlu proiect: </span>Competențele Viitorului: <span
                        class="text-white font-semibold">Actualizare și dezvoltare
                        profesională în era digitală și a economiei verzi</span>
                </h1>
            </div>

            <div class="content-around p-4 font-semibold">

                <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">Program Educație și Ocupare</p>

                <div class="text-gray-500 dark:text-gray-400">

                    <p>ESO4.7_Promovarea învățării pe tot parcursul vieții, în
                        special a oportunităților flexibile de actualizare a competențelor și de recalificare pentru toți,
                        ținând seama de competențele
                        antreprenoriale și digitale, printr-o mai bună anticipare a schimbării și a cerințelor de noi
                        competențe bazate pe nevoile pieței muncii, precum și prin facilitarea tranzițiilor profesionale și
                        promovarea mobilității profesionale Fondul Social European+:</p>

                    <p>Obiectiv de politică: O Europă mai socială</p>

                    <p >Prioritate: P9.Consolidarea participării populației în
                        procesul de învățare pe tot parcursul vieții pentru facilitarea tranzițiilor și a mobilității</p>

                        


                </div>
                    
            </div>
            <div class="content-around p-4 font-semibold">
            
<p class="mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
<p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>

</div>

            



        </div>


        <app-footer />
    </div>

</body>

</html>