<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 </title>
</head>


<body class="p-2 md:pl-80 md:pr-80">

    <app-navbar />

    <div class="justify-self-center pt-16 bg-gradient-to-b from-[#06573C] via-[#0D2221] to-[#0D2221]">

        <app-header />




        <div class="grid grid-cols-1 md:grid-cols-1 gap-4 ">

            <div class="text-3xl  content-around p-4 text-[#00E990] font-semibold">
                <h1><span class="text-white font-semibold"> Titlu proiect: </span>Competențele Viitorului: <span
                        class="text-white font-semibold">Actualizare și dezvoltare
                        profesională în era digitală și a economiei verzi</span>
                </h1>
            </div>

            <div class="content-around p-4 font-semibold">

                <p class="mb-3 text-lg text-white md:text-xl dark:text-gray-400">Program Educație și Ocupare</p>

                <div class="text-white dark:text-gray-400">

                    <p>ESO4.7_Promovarea învățării pe tot parcursul vieții, în
                        special a oportunităților flexibile de actualizare a competențelor și de recalificare pentru
                        toți,
                        ținând seama de competențele
                        antreprenoriale și digitale, printr-o mai bună anticipare a schimbării și a cerințelor de noi
                        competențe bazate pe nevoile pieței muncii, precum și prin facilitarea tranzițiilor profesionale
                        și
                        promovarea mobilității profesionale Fondul Social European+:</p>

                    <p>Obiectiv de politică: O Europă mai socială</p>

                    <p>Prioritate: P9.Consolidarea participării populației în
                        procesul de învățare pe tot parcursul vieții pentru facilitarea tranzițiilor și a mobilității
                    </p>

                    <p>Titlu Apel: “Ține pasul” - Regiuni mai puțin dezvoltate</p>

                    <p>Obiectiv general al proiectului:
                        Actualizarea competențelor angajaților din Regiunea Nord-Vest pentru a răspunde evoluțiilor
                        tehnologice rapide și a
                        facilita accesul la locuri de muncă prin măsuri integrate de informare, consiliere și formare.
                        Proiectul vizează un
                        număr de 604 angajați.
                    </p>



                    <p class="mb-3 text-white dark:text-gray-400 p-4">Obiective specifice ale proiectului:</p>
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
                        <div class="col-span-2">
                            <p class="mb-3 text-white dark:text-gray-400">1) Promovarea învățării pe tot parcursul
                                vieții și creșterea participării la programe de formare profesională
                                continuă, precum și a oportunităților de actualizare a competențelor și de recalificare
                                în rândul angajaților din
                                Regiunea Nord-Vest precum și în rândul angajatorilor din regiune și atragerea GT la
                                activitățile proiectului.</p>
                            <p class="mb-3 text-white dark:text-gray-400">Formarea profesională continuă reprezintă o
                                componentă majoră a politicilor în domeniul învățării pe tot parcursul
                                vieții, la nivel național și european.</p>
                        </div>
                        <p class="mb-3 text-white dark:text-gray-400">2) Oferirea de oportunități flexibile pentru
                            recalificare și adaptare la cerințele pieței muncii.</p>
                    </div>
                    <p class="mb-3 text-white dark:text-gray-400">Proiectul are ca scop actualizarea competențelor
                        angajaților din Regiunea Nord-Vest, în contextul evoluțiilor tehnologice rapide și al cerințelor
                        pieței muncii, cu impact direct asupra unui număr de 604 angajați care pot astfel să își mențină
                        sau să își găsească un loc de muncă, participând la programele din cadrul proiectului care
                        conțin un pachet complex de măsuri integrate de informare, consiliere și formare.</p>



                    <ol class="space-y-4 text-white list-decimal list-inside dark:text-gray-400 p-4">
                        <li>
                            Activități desfășurate
                            <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                <li>Campanie de conștientizare: Informăm angajații și angajatorii despre importanța
                                    participării la formarea profesională continuă.</li>
                                <li>Consiliere profesională: Oferim suport angajaților pentru a-i încuraja să participe
                                    la programele de formare.</li>
                                <li>Organizarea și derularea de programe de formare profesională pentru angajați,
                                    inclusiv persoane care ocupă funcții de management.</li>
                                <li>Activități de informare și publicitate: Promovăm oportunitățile oferite prin
                                    proiect.</li>
                                <li>Managementul proiectului: Asigurăm buna desfășurare a activităților.</li>
                            </ul>
                        </li>
                        <li>
                            Grup țintă eligibil:
                            <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                <li>Vârsta între 18-65 ani</li>
                                <li>Domiciliul/reședința în Regiunea NV</li>
                                <li>Statut pe piața muncii – angajat cu CIM (normă întreagă sau parțială)</li>
                                <li>Nivel studii: minim ISCED 3 (12 sau 13 clase)</li>
                            </ul>
                        </li>

                    </ol>




                    <p class="p-4">Ce oferim?</p>

                    <ol class="space-y-4 text-white list-decimal list-inside dark:text-gray-400">
                        <li>Curs de Calificare:
                            <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">

                                <li>Operator - Montator Subansamble: 94 participanți, cu un minim de 79 persoane
                                    certificate.</li>
                            </ul>
                        </li>

                        <li>Cursuri Informale:
                            <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">

                                <li>Competențe de dezvoltare durabilă pentru gestionarea deșeurilor industriale: 110
                                    persoane din care min. 89 certificate.</li>
                                <li>Tehnologii și cerințe de producție în industria aluminiului: 50 persoane din care
                                    min. 41 certificate.</li>
                                <li>Competențe digitale avansate - Calcule analitice și securitatea informațiilor: 290
                                    persoane din care min. 235 certificate.</li>
                                <li>Managementul echipei: 60 persoane din care min. 49 certificate.</li>
                            </ul>
                        </li>

                    </ol>




                    <ul class="space-y-4 text-white list-disc list-inside dark:text-gray-400 p-4">
                        <li>
                            Beneficii pentru participanți:
                            <ol class="ps-5 mt-2 space-y-1 list-decimal list-inside">
                                <li>Dezvoltare Profesională și Personală;</li>
                                <li>Îmbunătățirea abilităților tehnice și soft, esențiale în piața muncii actuale;</li>
                                <li>Posibilitatea de învățare a unor abilități noi, de rezolvare a unor sarcini într-un
                                    mod eficient;</li>
                                <li>Obținerea de certificate, ce atestă competențele dobândite;</li>
                                <li>Stimulent în valoare de 5 lei/oră, după absolvirea programului de formare.</li>
                            </ol>
                        </li>


                        <li>
                            Proiectul “Competențele Viitorului:Actualizare și dezvoltare profesională în era digitală și
                            a economiei verzi„ promovează:
                            <ul class="ps-5 mt-2 space-y-1">
                                <li
                                    class="p-4 mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white dark:first-letter:text-white first-letter:me-3 first-letter:float-start">
                                    Egalitatea de șanse și de gen</li>
                                <li class=" dark:text-gray-400 text-white">Proiectul contribuie la principiile
                                    orizontale
                                    referitoare la egalitatea de gen și de șanse prin aplicarea principiilor generale
                                    prevăzute în
                                    Strategia națională privind promovarea egalității de șanse și de tratament între
                                    femei și
                                    bărbați și prevenirea și combaterea violenței domestice pentru perioada 2021-2027.
                                </li>

                                <li
                                    class="p-4 mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                                    Nediscriminarea</li>
                                <li class="text-white dark:text-gray-400">Proiectul promovează nediscriminarea, prin măsuri de care se va ține cont atât la
                                    constituirea
                                    GT cât și la accesul la programele de consiliere și de formare profesională.
                                </li>

                                <li
                                    class="p-4 mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                                    Accesibilitatea persoanelor cu dizabilităţi</li>
                                <li class="text-white dark:text-gray-400">Toate acțiunile din cadrul proiectului vor fi organizate în locații în care nu vor
                                    exista
                                    restricții de accesibilitate pentru persoanele cu dizabilități</li>

                                <li
                                    class="p-4 mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                                    Dezvoltarea durabilă</li>
                                <li>Prin proiect se vor promova atitudini și activități ecologice atât în rândul
                                    personalului
                                    implicat în proiect, cât și în rândul beneficiarilor acestui proiect și vor fi
                                    dezvoltate
                                    competențe specifice pentru protecția mediului și controlul poluării.</li>

                                <li
                                    class="p-4 mb-3 text-white dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
                                    Utilizarea eficientă a resurselor</li>
                                <li>Conștientizarea privind importanța utilizării tehnicilor de economisire, a
                                    resurselor
                                    regenerabile și ecologice, achiziția de echipamente cu tehnologie modernă și
                                    consumuri scăzute
                                    de energie, adoptarea unor obiceiuri responsabile de consum etc</li>

                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>


        <app-footer />
    </div>

</body>

</html>
