<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 </title>
</head>


<body class="p-2 md:pl-80 md:pr-80">

    <app-navbar/>

    <div class="justify-self-center pt-16 bg-gradient-to-b from-[#06573C] via-[#0D2221] to-[#0D2221]">

     <app-header/>


        <h1 class="text-5xl font-extrabold dark:text-white">Competențele Viitorului: Actualizare și dezvoltare
            profesională în era digitală și a economiei verzi</h1>

        <app-footer />
    </div>

</body>

</html>