<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 </title>
</head>


<body class="p-2 md:pl-80 md:pr-80 bg-gradient-to-b from-[#06573C] via-[#00E990] to-[#06573C]">

    <app-navbar />

    <div class="justify-self-center pt-16 bg-gradient-to-b from-[#06573C] via-[#0D2221] to-[#0D2221]">
        <app-header />
       

        <h1 class="text-white text-3xl p-4 text-center font-semibold">Noutăți</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center pt-8 pb-8">
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/assets/images/312670.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Promovarea
                            învățării pe tot parcursul vieții, facilitarea tranzițiilor profesionale și
                            promovarea mobilității profesionale
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Comunicat de presă</p>
                    <a href="https://www.assoc.ro/competentele-viitorului-actualizare-si-dezvoltare-profesionala-in-era-digitala-si-a-economiei-verzi/"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#06573C] rounded-lg hover:bg-[#0D2221] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Afla mai multe
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="/assets/images/PostFacebook2316270.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">120 de membri sunt deja în grupul de socializare online
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">120 de membri sunt deja în grupul de socializare online </p>
                    <a href="https://www.facebook.com/groups/competenteleviitorului/"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#06573C] rounded-lg hover:bg-[#0D2221] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Afla mai multe
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <app-footer/>

    </div>
</body>
</html>
